/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    width: 100%;
    padding: 20px;
    background: green;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
nav ul {
    width: 60%;
    display: flex;
    padding: 0;
    justify-content: space-between;
}
nav ul li {
    padding: 5px;
    text-align: center;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 767px) {
    nav ul li {
        display: block;
    }
   nav ul {
    position: absolute;
    width: 30%;
    height: auto;
    background: #2c3e50 ;
    text-align: center;
    transition: all .5s;
    display: none;
    flex-direction: column;
    z-index: 0;
    }
    nav .menu {
        width: 25px;
        height: 4px;
        background: black;
        margin-top: 4px;
        display: block;
        position: relative;
    }
    .flex {
        display: flex;
        flex-direction: column;
    }
    ul:hover {
        display: block;
    }
    .menu:hover nav ul {
        display: block;
    }
} */
body {
    font-family: Arial, Helvetica, sans-serif;
  }
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }