* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'source sans pro', sans-serif;
}
nav {
    margin: 0%;
    width: 100%;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    position: sticky;
    top: 0;
    display: flex;
    background: white;
    border-bottom: 1px solid black;
    z-index: 1000000000;
}
nav ul {
    text-align: center;
    width: 100%;
    padding: 10px;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
nav .btn1 {
    text-align: center;
    box-shadow: 6px 6px black;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
    width: 200px;
    background: white;
    padding: 10px;
    transition: 1s all ease;
    text-decoration: none;
}
nav .btn1:hover {
    background: yellow;
    color: black;
    transition: 1s all ease;
}
nav .btn2 {
    width: 120px;
    text-align: center;
    padding: 10px;
    color:black;
    background: white;
    font-size: 17px;
    text-decoration: none;
}
#check {
    display: none;
}
.show {
    display: none;
}
label.top {
    font-size: 25px;
    padding: 5px;
}
.sign {
    float: right;
}
.wrapper {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    margin: 0%;
    padding-top: 0;
    padding: 45px;
}
.body1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
}
.body1 h1 {
    font-size: 75px;
    width: 100%;
    margin: 0%;
    margin-bottom: 25px;
}
.radio1 label {
    font-size: 20px;
    margin-right: 60px;
    align-items: justify;
}
.radio1 {
    display:flex ;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0%;
    justify-content: space-between;
}
.column {
    display: flex;
}
.column1 {
    display: flex;
    margin-top: 30px;
}
.column1 img {
    margin-right: 12px;
}
.radio1 img {
    width: 23px;
    height: 23px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50px;
    background: yellow;
    box-shadow: 4px 4px black;
}
.body1 #search1 {
    padding: 10px;
    border: none;
    font-size: 20px;
}
.cut {
    width: 50%;
    height: auto;
    margin: 0%;
}
.devide {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    width: 50%;
    border-radius: 3px;
    box-shadow: 6px 6px black;
    justify-content: space-between;
    border: 1px solid black;
    width: 90%;
}
.devide button {
    background: black;
    color: white;
    border: none;
    font-size: 20px;
    text-align: center;
    width: 35%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    transition: 1s all ease;
}
.devide button:hover {
    background: yellow;
    color: black;
    transition: 1s all ease;
}
.wrap {
    width: 100%;
    background: black;
    height: auto;
    padding: 100px 50px 100px 50px;
    display: flex;
    color: white;
}
.buttom {
    color: white;
    display: flex;
    justify-content: space-between;
}
.buttom1 {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 130px;
}
.buttom1 h1 {
    margin: 0;
    font-size: 41px;
    font-weight: bold;
    margin-bottom: 35px;
}
.buttom1 button {
    padding: 10px;
    width: 80%;
    background: rgb(228, 228, 50);
    border: none;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}
.buttom2 {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.buttom2 h1 {
    font-size: 25px;
    margin-bottom: 30px;
}
.buttom2 p {
    font-size: 17px;
}
.first1 {
    border-left: 1px solid white;
    padding: 0px 0px 0px 20px;
}
.first {
    width: 60px;
    margin-bottom: 30px;
}
.wrapper1 {
    width: 100%;
    height: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
}
.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}
.flex1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.flex2 {
    width: 300px;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s all ease;
}
.flex2:hover {
    box-shadow: 6px 6px black;
    transform: translate(-10px, -10px);
    transition: 0.5s all ease;
}
.images {
    width: 100%;
    height: 50px;
}
.img {
    width: 40px;
    border-radius: 3px;
}
.img1 {
    width: 20px;
    margin: 0%;
    float: right;
    margin-bottom: 20px;
}
.flex3 {
    width: 100%;
}
.flex3 h3 {
    padding: 20px 0px 20px 0px;
}
.flex3 p {
    padding: 5px 0px 5px 0px;
}
.know {
    margin-bottom: 22px;
}
.flex4 {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    background: white;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 5px 5px black;
    transition: 1s all ease;
}
.flex4:hover {
    background: yellow;
    transition: 1s all ease;
}
.wrapper2 {
    width: 100%;
    height: auto;
    display: flex;
    padding: 50px;
    flex-direction: column;
}
.flex5 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.flex6 {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.flex7 {
    width: 300px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s all ease;
}
.flex7:hover {
    box-shadow: 6px 6px black;
    transition: 0.5s all ease;
    transform: translate(-10px, -10px);
}
.flex8 {
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    background-image: url("https://ik.imagekit.io/parallel/undefined/615ee21ffcb8e81d60c92967/company/header/prl-c_MTprne4Dl?tr=fo-auto,q-80,f-auto,pr-true,md-false,w-auto,h-auto");
}
.flex8 img {
    width: 53px;
    border-radius: 5px;
    margin-top: 53px;
    margin-left: 20px;
}
.good {
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    background-image: url("https://ik.imagekit.io/parallel/undefined/615f63dcfcb8e81d60c92a1a/company/header/prl-c_9qRJotBin?tr=fo-auto,q-80,f-auto,pr-true,md-false,w-auto,h-auto");
}
.good img {
    width: 53px;
    border-radius: 5px;
    margin-top: 53px;
    margin-left: 20px;
}
.good1 {
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    background-image: url("https://ik.imagekit.io/parallel/undefined/615f6e79210e18328ee7aef3/company/header/prl-c_30HFUGKge?tr=fo-auto,q-80,f-auto,pr-true,md-false,w-auto,h-auto");
}
.good1 img {
    width: 53px;
    border-radius: 5px;
    margin-top: 53px;
    margin-left: 20px;
}
.good2 {
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    background-image: url("https://ik.imagekit.io/parallel/undefined/615fc00a210e18328ee7b34a/company/header/prl-c_a4SeKoIQj?tr=fo-auto,q-80,f-auto,pr-true,md-false,w-auto,h-auto");
}
.good2 img {
    width: 53px;
    border-radius: 5px;
    margin-top: 53px;
    margin-left: 20px;
}
.flex9 {
    padding: 20px;
    width: 100%;
}
.flex9 h3 {
    margin-top: 20px;
}
.flex9 p {
    margin-top: 20px;
    font-size: 15px;
}
.flex10 {
    padding: 10px;
    width: 100%;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 6px 6px black;
    transition: 1s all ease;
}
.flex10:hover {
    background: yellow;
    transition: 1s all ease;
}
.relative {
    width: 100%;
    padding: 80px;
    background: black;
    color: white;
}
.relative .abi {
    background: rgb(48, 47, 47);
    padding: 40px 20px 40px 20px;
    margin: 0 auto;
    width: 80%;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    z-index: 1000000;
}
.ojo {
    width: 20px;
}
.relative .faq {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
.sami {
    background: rgb(48, 47, 47);
    padding: 40px;
    margin-left: 120px;
    width: 80%;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    transition: 1s all ease;
    display: none;
}
#box {
    display: none;
}
#box1 {
    display: none;
}
#box2 {
    display: none;
}
#box3 {
    display: none;
}
#box4 {
    display: none;
}
#box5 {
    display: none;
}
#box:checked ~ .sami {
    display: block;
}
#box:checked ~ .para {
    color: yellow;
}
#box1:checked ~ .sami {
    display: block;
}
#box2:checked ~ .sami {
    display: block;
}
#box3:checked ~ .sami {
    display: block;
}
#box4:checked ~ .sami {
    display: block;
}
#box5:checked ~ .sami {
    display: block;
}
.oboy {
    width: 100%;
    height: auto;
    background: rgb(192, 150, 192);
}
.tone {
    width: 100%;
    height: auto;
    justify-content: space-between;
}
.tone .cool {
    float: right;
    padding: 30px;
}
.tone .cool2 {
    float: right;
}
.well {
    width: 100%;
    padding: 40px 150px 40px 150px;
    text-align: center;
    align-items: center;
    font-size: 65px;
    font-weight: bolder;
}
.well p {
    margin-bottom: 25px;
}
.well .point {
    font-size: 15px;
    padding: 10px;
    width: 200px;
    background: white;
    box-shadow: 5px 5px black;
    border-radius: 3px;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
}
.well .point1 {
    font-size: 15px;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    border: 1px solid black;
    margin: 0 auto;
    transition: 0.5s all ease;
}
.well .point1:hover {
    font-size: 15px;
    padding: 10px;
    width: 200px;
    background: white;
    box-shadow: 5px 5px black;
    border-radius: 3px;
    border: 1px solid black;
}
@media screen and (max-width: 375px) {
    nav {
      height: auto;
      padding: 10px;
      padding-left: 15px;
      padding-right: 15px;
      justify-content: space-between;
    }
    nav ul {
        display: none;
    }
    .right {
        padding: 5px;
        margin-top: 5px;
    }
    .menu {
        width: 25px;
        height: 3px;
        background: black;
        margin-top: 5px;
    }
    #check:checked ~ .show {
        display: block;
        left: 0%;
    }
    .show {
        margin: 0%;
        top: 60px;
        padding: 0%;
        width: 100%;
        height: auto;
        position: fixed;
        background: white;
        border: 1px solid black;
        left: -100%;
    }
    .li1 {
        margin: 0%;
        display: flex;
        text-align: left;
        padding: 20px 0px 20px 0px;
        flex-direction: column;
    }
    .give {
        padding: 15px;
        padding-left: 0%;
        width: 100%;
        background: rgb(247, 244, 244);
        margin-top: 20px;
        text-align: left;
    }
    .wave1 {
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    .sign-up1 {
        padding: 10px;
        text-align: center;
        background: yellow;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 15px;
        width: 130px
    }
    .sign-in1 {
        padding: 10px;
        text-align: center;
        background: white;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 15px;
        width: 130px
    }
    .top {
        margin: 0%;
        width: 60%;
    }
    nav .btn1 {
        width: 110px;
        padding: 8px;
        font-size: 15px;
        text-align: center;
        box-shadow: 4px 4px black;
    }
    .btn2 {
        display: none;
    }
    .show {
        display: none;
    }
.wrapper {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}
.body1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0%;
}
.body1 h1 {
    font-size: 50px;
    margin: 0%;
}
.column {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0%;
    flex-direction: column;
}
.none {
    display: none;
}
.radio1 {
    margin: 0%;
}
.devide {
    width: 100%;
    height: auto;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: none;
}
.devide #search1 {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    margin: 0%;
    margin-bottom: 20px;
    box-shadow: 5px 5px black;
    border-radius: 3px;
    color: grey;

}
.devide button {
    width: 100%;
    padding: 20px;
    margin: 0%;
    box-shadow: 5px 5px yellow;
    border-radius: 3px;
}
.cut {
    width: 100%;
    margin: 0%;
    margin-top: 20px;
}
.wrap {
    margin: 0%;
    display: flex;
    padding: 20px;
    height: auto;
    flex-direction: column;
}
.buttom1 {
    width: 100%;
    padding: 0%;
}
.buttom1 button {
    width: 100%;
    margin-bottom: 30px;
}
.buttom {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.buttom2 {
    width: 100%;
    margin-bottom: 30px;
}
.buttom2 h1 {
    margin: 0%;
    margin-bottom: 20px;
    font-size: 20px;
}
.buttom2 p {
    font-size: 17px;
}
.first {
    width: 50px;
    margin: 0%;
    margin-bottom: 20px;
}
.first1 {
    border: none;
    margin: 0%;
    padding: 0%;
}
.wrapper1 {
    padding: 20px;
}
.flex {
    width: 100%;
    text-align: center;
}
.flex p {
    display: none;
}
.flex1 {
    display: flex;
    flex-direction: column;
}
.img1 {
    margin-left: 200px;
}
.know {
    margin: 0%;
}
.flex2 {
    width: 100%;
    margin-bottom: 30px;
}
.wrapper2 {
    padding: 20px;
}
.flex5 {
    width: 100%;
    text-align: center;
}
.flex5 p {
    display: none;
}
.flex6 {
    display: flex;
    flex-direction: column;
}
.flex7 {
    width: 100%;
    margin-bottom: 30px;
}
}
@media screen and (max-width: 414px) {
    nav {
      height: auto;
      padding: 10px;
      padding-left: 15px;
      padding-right: 15px;
      justify-content: space-between;
    }
    nav ul {
        display: none;
    }
    .right {
        padding: 5px;
        margin-top: 5px;
    }
    .menu {
        width: 25px;
        height: 3px;
        background: black;
        margin-top: 5px;
    }
    #check:checked ~ .show {
        display: block;
        left: 0%;
    }
    .show {
        margin: 0%;
        top: 60px;
        padding: 0%;
        width: 100%;
        height: auto;
        position: fixed;
        background: white;
        border: 1px solid black;
        left: -100%;
    }
    .li1 {
        margin: 0%;
        display: flex;
        text-align: left;
        padding: 20px 0px 20px 0px;
        flex-direction: column;
    }
    .give {
        padding: 15px;
        padding-left: 0%;
        width: 100%;
        background: rgb(247, 244, 244);
        margin-top: 20px;
        text-align: left;
    }
    .wave1 {
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    .sign-up1 {
        padding: 10px;
        text-align: center;
        background: yellow;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 15px;
        width: 130px
    }
    .sign-in1 {
        padding: 10px;
        text-align: center;
        background: white;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 15px;
        width: 130px
    }
    .top {
        margin: 0%;
        width: 60%;
    }
    nav .btn1 {
        width: 110px;
        padding: 8px;
        font-size: 15px;
        text-align: center;
        box-shadow: 4px 4px black;
    }
    .btn2 {
        display: none;
    }
    .show {
        display: none;
    }
.wrapper {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}
.body1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0%;
}
.body1 h1 {
    font-size: 50px;
    margin: 0%;
}
.column {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0%;
    flex-direction: column;
}
.none {
    display: none;
}
.radio1 {
    margin: 0%;
}
.devide {
    width: 100%;
    height: auto;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: none;
}
.devide #search1 {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    margin: 0%;
    margin-bottom: 20px;
    box-shadow: 5px 5px black;
    border-radius: 3px;
    color: grey;

}
.devide button {
    width: 100%;
    padding: 20px;
    margin: 0%;
    box-shadow: 5px 5px yellow;
    border-radius: 3px;
}
.cut {
    width: 100%;
    margin: 0%;
    margin-top: 20px;
}
.wrap {
    margin: 0%;
    display: flex;
    padding: 20px;
    height: auto;
    flex-direction: column;
}
.buttom1 {
    width: 100%;
    padding: 0%;
}
.buttom1 button {
    width: 100%;
    margin-bottom: 30px;
}
.buttom {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.buttom2 {
    width: 100%;
    margin-bottom: 30px;
}
.buttom2 h1 {
    margin: 0%;
    margin-bottom: 20px;
    font-size: 20px;
}
.buttom2 p {
    font-size: 17px;
}
.first {
    width: 50px;
    margin: 0%;
    margin-bottom: 20px;
}
.first1 {
    border: none;
    margin: 0%;
    padding: 0%;
}
.wrapper1 {
    padding: 20px;
}
.flex {
    width: 100%;
    text-align: center;
}
.flex p {
    display: none;
}
.flex1 {
    display: flex;
    flex-direction: column;
}
.img1 {
    margin: 0%;
    float: right;
}
.know {
    margin: 0%;
}
.flex2 {
    width: 100%;
    margin-bottom: 30px;
}
.wrapper2 {
    padding: 20px;
}
.flex5 {
    width: 100%;
    text-align: center;
}
.flex5 p {
    display: none;
}
.flex6 {
    display: flex;
    flex-direction: column;
}
.flex7 {
    width: 100%;
    margin-bottom: 30px;
}
}
@media screen and (max-width: 540px) {
    nav {
      height: auto;
      padding: 10px;
      padding-left: 15px;
      padding-right: 15px;
      justify-content: space-between;
    }
    nav ul {
        display: none;
    }
    .right {
        padding: 5px;
        margin-top: 5px;
    }
    .menu {
        width: 25px;
        height: 3px;
        background: black;
        margin-top: 5px;
    }
    #check:checked ~ .show {
        display: block;
        left: 0%;
    }
    .show {
        margin: 0%;
        top: 60px;
        padding: 0%;
        width: 100%;
        height: auto;
        position: fixed;
        background: white;
        border: 1px solid black;
        left: -100%;
    }
    .li1 {
        margin: 0%;
        display: flex;
        text-align: left;
        padding: 20px 0px 20px 0px;
        flex-direction: column;
    }
    .give {
        padding: 15px;
        padding-left: 0%;
        width: 100%;
        background: rgb(247, 244, 244);
        margin-top: 20px;
        text-align: left;
    }
    .wave1 {
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    .sign-up1 {
        padding: 10px;
        text-align: center;
        background: yellow;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 15px;
        width: 130px
    }
    .sign-in1 {
        padding: 10px;
        text-align: center;
        background: white;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 15px;
        width: 130px
    }
    .top {
        margin: 0%;
        width: 60%;
    }
    nav .btn1 {
        width: 110px;
        padding: 8px;
        font-size: 15px;
        text-align: center;
        box-shadow: 4px 4px black;
    }
    .btn2 {
        display: none;
    }
    .show {
        display: none;
    }
.wrapper {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}
.body1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0%;
}
.body1 h1 {
    font-size: 50px;
    margin: 0%;
}
.column {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0%;
    flex-direction: column;
}
.none {
    display: none;
}
.radio1 {
    margin: 0%;
}
.devide {
    width: 100%;
    height: auto;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: none;
}
.devide #search1 {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    margin: 0%;
    margin-bottom: 20px;
    box-shadow: 5px 5px black;
    border-radius: 3px;
    color: grey;

}
.devide button {
    width: 100%;
    padding: 20px;
    margin: 0%;
    box-shadow: 5px 5px yellow;
    border-radius: 3px;
}
.cut {
    width: 100%;
    margin: 0%;
    margin-top: 20px;
}
.wrap {
    margin: 0%;
    display: flex;
    padding: 20px;
    height: auto;
    flex-direction: column;
}
.buttom1 {
    width: 100%;
    padding: 0%;
}
.buttom1 button {
    width: 100%;
    margin-bottom: 30px;
}
.buttom {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.buttom2 {
    width: 100%;
    margin-bottom: 30px;
}
.buttom2 h1 {
    margin: 0%;
    margin-bottom: 20px;
    font-size: 20px;
}
.buttom2 p {
    font-size: 17px;
}
.first {
    width: 50px;
    margin: 0%;
    margin-bottom: 20px;
}
.first1 {
    border: none;
    margin: 0%;
    padding: 0%;
}
.wrapper1 {
    padding: 20px;
}
.flex {
    width: 100%;
    text-align: center;
}
.flex p {
    display: none;
}
.flex1 {
    display: flex;
    flex-direction: column;
}
.images {
    margin: 0%;
    justify-content: space-between;
}
.img1 {
    margin: 0%;
    float: right;
}
.know {
    margin: 0%;
}
.flex2 {
    width: 100%;
    margin-bottom: 30px;
}
.wrapper2 {
    padding: 20px;
}
.flex5 {
    width: 100%;
    text-align: center;
}
.flex5 p {
    display: none;
}
.flex6 {
    display: flex;
    flex-direction: column;
}
.flex7 {
    width: 100%;
    margin-bottom: 30px;
}
}
@media screen and  (min-width: 768px) and (max-width: 820px) {
    nav {
      height: auto;
      padding: 10px;
      padding-left: 15px;
      padding-right: 15px;
      justify-content: space-between;
    }
    nav ul {
        display: none;
    }
    .right {
        padding: 5px;
        margin-top: 5px;
    }
    .menu {
        width: 25px;
        height: 3px;
        background: black;
        margin-top: 5px;
    }
    #check:checked ~ .show {
        display: block;
        left: 0%;
    }
    .show {
        margin: 0%;
        top: 60px;
        padding: 0%;
        width: 100%;
        height: auto;
        position: fixed;
        background: white;
        border: 1px solid black;
        left: -100%;
    }
    .li1 {
        margin: 0%;
        display: flex;
        text-align: left;
        padding: 20px 0px 20px 0px;
        flex-direction: column;
    }
    .give {
        padding: 15px;
        padding-left: 0%;
        width: 100%;
        background: rgb(247, 244, 244);
        margin-top: 20px;
        text-align: left;
    }
    .wave1 {
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    .sign-up1 {
        padding: 10px;
        text-align: center;
        background: yellow;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 15px;
        width: 130px
    }
    .sign-in1 {
        padding: 10px;
        text-align: center;
        background: white;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 15px;
        width: 130px
    }
    .top {
        margin: 0%;
        width: 80%;
    }
    nav .btn1 {
        width: 110px;
        padding: 8px;
        font-size: 15px;
        text-align: center;
        box-shadow: 4px 4px black;
    }
    .btn2 {
        display: none;
    }
    .show {
        display: none;
    }
.wrapper {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.body1 {
    width: 47%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0%;
}
.body1 h1 {
    font-size: 50px;
    margin: 0%;
}
.column {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0%;
    flex-direction: column;
}
.radio1 {
    margin: 0%;
}
.devide {
    height: auto;
    padding: 0%;
    margin: 0%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: none;
}
.devide #search1 {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    margin: 0%;
    margin-bottom: 20px;
    box-shadow: 5px 5px black;
    border-radius: 3px;
    color: grey;

}
.devide button {
    width: 100%;
    padding: 20px;
    margin: 0%;
    box-shadow: 5px 5px yellow;
    border-radius: 3px;
}
.cut {
    width: 47%;
    height: 400px;
    margin: 0%;
    margin-top: 40px;
}
.wrap {
    width: 100%;
    margin: 0%;
    display: flex;
    padding: 50px;
    height: auto;
    flex-direction: column;
    align-items: center;
}
.buttom1 {
    width: 100%;
    margin: 0%;
    align-items: center;
    padding: 50px 100px 50px 100px;
}
.buttom1 button {
    width: 100%;
    margin: 0%;
    margin-bottom: 30px;
}
.buttom {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0%;
    padding: 0px 100px 0px 100px;
}
.buttom2 {
    width: 100%;
    margin-bottom: 30px;
}
.buttom2 h1 {
    margin: 0%;
    margin-bottom: 20px;
    font-size: 20px;
}
.buttom2 p {
    font-size: 17px;
}
.first {
    width: 50px;
    margin: 0%;
    margin-bottom: 20px;
}
.first1 {
    border: none;
    margin: 0%;
    padding: 0%;
}
.wrapper1 {
    padding: 30px;
}
.flex1 {
    display: flex;
    flex-direction: column;
}
.flex2 {
    width: 100%;
    margin-bottom: 30px;
}
.img1 {
    margin: 0%;
    float: right;
}
.wrapper2 {
    padding: 20px;
}
.flex5 {
    width: 100%;
    text-align: center;
}
.flex5 p {
    display: none;
}
.flex6 {
    display: flex;
    flex-direction: column;
}
.flex7 {
    width: 100%;
    margin-bottom: 30px;
}
}
@media screen and  (min-width: 821px) and (max-width: 912px) {
    nav {
      height: auto;
      padding: 10px;
      padding-left: 15px;
      padding-right: 15px;
      justify-content: space-between;
    }
    nav ul {
        display: none;
    }
    .right {
        padding: 5px;
        margin-top: 5px;
    }
    .menu {
        width: 25px;
        height: 3px;
        background: black;
        margin-top: 5px;
    }
    #check:checked ~ .show {
        display: block;
        left: 0%;
    }
    .show {
        margin: 0%;
        top: 60px;
        padding: 0%;
        width: 100%;
        height: auto;
        position: fixed;
        background: white;
        border: 1px solid black;
        left: -100%;
    }
    .li1 {
        margin: 0%;
        display: flex;
        text-align: left;
        padding: 20px 0px 20px 0px;
        flex-direction: column;
    }
    .give {
        padding: 15px;
        padding-left: 0%;
        width: 100%;
        background: rgb(247, 244, 244);
        margin-top: 20px;
        text-align: left;
    }
    .wave1 {
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    .sign-up1 {
        padding: 10px;
        text-align: center;
        background: yellow;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 15px;
        width: 130px
    }
    .sign-in1 {
        padding: 10px;
        text-align: center;
        background: white;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 15px;
        width: 130px
    }
    .top {
        margin: 0%;
        width: 85%;
    }
    nav .btn1 {
        width: 110px;
        padding: 8px;
        font-size: 15px;
        text-align: center;
        box-shadow: 4px 4px black;
    }
    .btn2 {
        display: none;
    }
    .show {
        display: none;
    }
.wrapper {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.body1 {
    width: 47%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0%;
}
.body1 h1 {
    font-size: 50px;
    margin: 0%;
}
.column {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0%;
    flex-direction: column;
}
.radio1 {
    margin: 0%;
}
.devide {
    height: auto;
    padding: 0%;
    margin: 0%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: none;
}
.devide #search1 {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    margin: 0%;
    margin-bottom: 20px;
    box-shadow: 5px 5px black;
    border-radius: 3px;
    color: grey;

}
.devide button {
    width: 100%;
    padding: 20px;
    margin: 0%;
    box-shadow: 5px 5px yellow;
    border-radius: 3px;
}
.cut {
    width: 47%;
    height: 400px;
    margin: 0%;
    margin-top: 40px;
}
.wrap {
    width: 100%;
    margin: 0%;
    display: flex;
    padding: 50px;
    height: auto;
    flex-direction: column;
    align-items: center;
}
.buttom1 {
    width: 100%;
    margin: 0%;
    align-items: center;
    padding: 50px 100px 50px 100px;
}
.buttom1 button {
    width: 100%;
    margin: 0%;
    margin-bottom: 30px;
}
.buttom {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0%;
    padding: 0px 100px 0px 100px;
}
.buttom2 {
    width: 100%;
    margin-bottom: 30px;
}
.buttom2 h1 {
    margin: 0%;
    margin-bottom: 20px;
    font-size: 20px;
}
.buttom2 p {
    font-size: 17px;
}
.first {
    width: 50px;
    margin: 0%;
    margin-bottom: 20px;
}
.first1 {
    border: none;
    margin: 0%;
    padding: 0%;
}
.wrapper1 {
    padding: 30px;
}
.flex1 {
    display: flex;
    flex-direction: column;
}
.flex2 {
    width: 100%;
    margin-bottom: 30px;
}
.img1 {
    margin: 0%;
    float: right;
}
.wrapper2 {
    padding: 20px;
}
.flex5 {
    width: 100%;
    text-align: center;
}
.flex5 p {
    display: none;
}
.flex6 {
    display: flex;
    flex-direction: column;
}
.flex7 {
    width: 100%;
    margin-bottom: 30px;
}
}









































