* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'source sans pro', sans-serif;
}
nav {
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    display: flex;
    background: white;
    border-bottom: 1px solid black;
}
nav ul {
    align-items: center;
    width: 100%;
    padding: 10px;
}
nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style-type: none;
}
.find {
    margin-left: 350px;
}
nav ul li a{
    text-align: center;
    text-decoration: none;
    color: black;
}
nav ul .btn1 {
    float: right;
    text-align: center;
    box-shadow: 5px 5px black;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
    width: 150px;
    background: white;
    transition: 1s all ease;
    text-decoration: none;
}
nav ul .btn1:hover {
    background: yellow;
    color: black;
    transition: 1s all ease;
}
nav ul .btn2 {
    color:black;
    margin-left: 350px;
    width: 120px;
    background: white;
    font-size: 17px;
    text-decoration: none;
}
label.top {
    margin-left: 30px;
    font-size: 20px;
}
.sign {
    float: right;
}
.wrapper {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    margin: 0%;
    padding-top: 0;
    padding: 50px;
}
.body1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
}
.body1 h1 {
    font-size: 75px;
    width: 100%;
    margin: 0%;
    margin-bottom: 25px;
}
.radio1 label {
    font-size: 20px;
    margin-right: 60px;
    align-items: justify;
}
.radio1 {
    display:flex ;
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: space-between;
}
.column {
    display: flex;
}
.column1 {
    display: flex;
    margin-top: 30px;
}
.column1 img {
    margin-right: 12px;
}
.radio1 img {
    width: 23px;
    height: 23px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50px;
    background: yellow;
    box-shadow: 4px 4px black;
}
.body1 #search1 {
    padding: 10px;
    border: none;
    font-size: 20px;
}
.cut {
    width: 50%;
    height: auto;
    margin: 0%;
}
.devide {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    width: 50%;
    border-radius: 3px;
    box-shadow: 6px 6px black;
    justify-content: space-between;
    border: 1px solid black;
    width: 90%;
}
.devide button {
    background: black;
    color: white;
    border: none;
    font-size: 20px;
    text-align: center;
    width: 35%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    transition: 1s all ease;
}
.devide button:hover {
    background: yellow;
    color: black;
    transition: 1s all ease;
}
.wrap {
    width: 100%;
    background: black;
    height: auto;
    padding: 100px 50px 100px 50px;
    margin-bottom: 100px;
    display: flex;
    color: white;
}
.buttom {
    color: white;
    display: flex;
    justify-content: space-between;
}
.buttom1 {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 130px;
}
.buttom1 h1 {
    margin: 0;
    font-size: 41px;
    font-weight: bold;
    margin-bottom: 35px;
}
.buttom1 button {
    padding: 10px;
    width: 80%;
    background: rgb(228, 228, 50);
    border: none;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}
.buttom2 {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.buttom2 h1 {
    font-size: 25px;
    margin-bottom: 30px;
}
.buttom2 p {
    font-size: 17px;
}
.first1 {
    border-left: 1px solid white;
    padding: 0px 0px 0px 20px;
}
.first {
    width: 60px;
    margin-bottom: 30px;
}










































