* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
}
nav {
    width: 100%;
    line-height: 40px;
    background: yellow;
    position: sticky;
    top: 0%;
    border-bottom: 1px solid black;
}
nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-top: 0;
    padding-bottom: 0;
}
nav ul li a:hover {
    color: yellowgreen;
}
nav ul li {
    display: inline-flex;
    padding: 5px;
}
nav ul li a {
    text-decoration: none;
}
ul .home {
    background: pink;
    width: 150px;
    transition: 1s all ease;
}
ul .home:hover {
    background: yellow;
    transition: 1s all ease;
}
@media screen and (max-width: 767px) {
    nav ul {
        padding: 20px;
    }
    nav ul li {
        display: none;
    }
}

















