body {
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
nav {
    background: white;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    line-height: 80px;
    display: inline-block; 
    margin: 0 5px;
}
nav ul li a {
    font-size: 17px;
    text-align:center ;
}
.home {
    padding: 10px 15px;
}
label.main-nav {
    padding: 0 100px;
    line-height: 80px;
    font-size: 20px;
}
.menu {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        font-size: 30px;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
}
.right {
    margin-top: 15px;
    float: right;
    display: none;
}
#check {
    display: none ;
}
#check:checked ~ ul {
    left:0%;
}
.anim {
    background: linear-gradient(to top right, yellow,white,rgb(219, 119, 136));
    margin-bottom: 50px;
    height: 200px;
}
#typetext {
    padding: 11px;
    border-radius: 50px;
    width: 30%;
    background: white;
    margin-top: 5%;
    margin-left: 35%;
    font-size: 15px;
    box-shadow: 5px 5px black;
    outline: none;
}
.btn1 {
    border-radius: 50px;
    padding: 10px;
    text-align: right;
    box-shadow: 5px 5px black;
    width: 8%;
    margin-top: 70px;
    margin-left: 45%;
}
.btn1:hover {
    background: yellow;
    transition: 1s all ease;
}
.see {
    margin-left: 73%;
    font-weight: bold;
}
.new {
    margin-left: 5%;
    font-weight: bold;
    font-size: 30px;
}
hr {
    margin-left: 5%;
    margin-right: 7%;
}
.card {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
 }
 .left-card {
    background: white;
    text-align: center;
    display: block;
    width: 30%;
    height: 350px;
    margin-right: 20px;
    border: 20px black;
    border: 1px solid black;
    border-radius: 10px;
    transition: 1s all ease;
 }
 .left-card:hover {
     box-shadow: 10px 10px black;
     transition: 1s all ease;
 }
 .img2 {
    background: url("https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8b2ZmaWNlfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    height: 30%;
     width: 100%;
     margin: 0%;
     border-radius: 10px;
}
.img3 {
    width: 20%;
    height: 40%;
    border-radius: 5px;
    margin-top: 85px;
}
 .centered {
    position: absolute;
    width: 70px;
    margin-left: 100px;
    margin-top: 60%;
    border-radius: 50%;
 }
.left-card h3, h4 {
    margin-bottom: 20px;
}
.left-card h3 {
    margin-top:40px ;
}
.left-card button {
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px black;
    width: 80%;
}
.left-card button:hover {
    background: yellow;
    transition: 1s all ease;
}
 .card-text {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 20px;
    color:grey;
 }
 .tlap {
     margin: 0;
     width:100%;
     height: 500px;
     text-align: center;
     background: black;
     color: white;
     padding: 0;
     margin-top: 40px;
 }
 .tlap h1 {
     font-size: 450px;
     font-weight: bold;
     margin: 0;
 }
 .hometext {
     margin: 5%;
     color: grey;
     text-transform: uppercase;
     text-align: center;
 }
 .faq {
     width: 100%;
     height: 50%;
     padding: 50px;
     background:#2c3e50 ;
 }
 .faq p {
     margin-left: 15%;
     color: white;
     margin-bottom: 15px;
 }
 .faq h1 {
     float: right;
     color: white;
     font-weight: bold;
 }
 .faq b {
     font-size: 30px;
     font-weight: bold;
     color: firebrick;
     margin-top: 20%;
 }
 .faq input {
     padding: 15px;
     border-radius: 50px;
     border: none;
     width:50%;
     margin-top: 5%;
     background: greenyellow;
 }
@media screen and (max-width: 767px){
    nav {
        position: sticky;
        top: 0;
        background: blue;
    }
    nav ul {
        float: right;
        margin-right: 20px;
    }
    nav ul li {
        display: block; 
        margin: 50px;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20pxpx;
        color: white;
        text-align: center;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50 ;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        opacity:80% ;
    }
    .home {
        background: none;
        padding: 10px 15px;
        color: violet;
    }
    label.main-nav {
        padding-left: 50px;
        color: white;
        font-size: 30px;
    }
    .btn1 {
        width: 20%;
    }
    .new {
        margin: 0%;
    }
    .right {
        display: block;
    }
    #check {
        display: none ;
    }
    #check:checked ~ ul {
        left: 0%;
    }
    body{
        background: silver;
    }
    .card{ 
        flex-direction:column;
    }
    .left-card {
        width: 100%;
        margin-bottom: 20px;
        background: yellow;
    }
    .left-card img {
        width: 100%;
    }
    .left-card h3, h2 {
        font-size: 30px;
    }
    .hometext {
        text-transform: lowercase;
    }
    #typetext {
        padding: 10px;
        border-radius: 50px;
        width: 50%;
        background: white;
        margin-top: 5%;
        margin-left: 35px;
        font-size: 15px;
        border: none;
    }
    .faq {
        width: 100%;
        padding: 30px;
        background:#2c3e50 ;
    }
    .faq p {
        margin-left: 5%;
        color: white;
        margin-bottom: 5px;
    }
    .faq h1 {
        float: right;
        color: white;
        font-weight: bold;
    }
    .faq b {
        font-size: 20px;
        font-weight: bold;
        color: firebrick;
    }
    .faq input {
        padding: 10px;
        border-radius: 50px;
        border: none;
        width:50%;
        margin-top: 5%;
        background: burlywood;
    }
}





















